backend/.env
backend/app/__pycache__/*
backend/app/models/__pycache__/*
backend/migrations/README
backend/migrations/script.py.mako
backend/migrations/__pycache__/*
backend/app/core/__pycache__/*
backend/app/db/__pycache__/*
backend/app/models/__pycache__/*
backend/migrations/versions/__pycache__/*
backend/app/__pycache__/*
backend/app/api/__pycache__/*
backend/app/api/v1/__pycache__/*
backend/app/api/v1/endpoints/__pycache__/*
backend/app/api/v1/endpoints/video/__pycache__/*
backend/app/repositories/__pycache__/*
backend/app/schemas/__pycache__/*
backend/playground/own_models/output/*
backend/output/*
